import { type ReactNode } from "react";

export interface {{NAME}}Props {
  children?: ReactNode;
}

export function {{NAME}}({ children }: {{NAME}}Props) {
  return <div className="{{KEBAB_NAME}}">{children}</div>;
}
